[Unit]
Description=Debian Installer Run Once
After=local-fs.target network.target nss-lookup.target

[Service]
User=root
Group=root
ExecStart=/usr/local/bin/run-once.sh
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target
